#myexperience{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

#realsnookertable{
    margin: 10px auto 10px auto;
}

#realsnookertable img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pooltable{
    margin: 10px auto 10px auto;
}

#pooltable img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.point{
    display: flex;
    margin-bottom: 10px;
}

.tip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 201, 225);
    padding-left: 20px;
    padding-right: 20px;
}

#topspin{
    margin-bottom: 10px;
}

#backspin{
    margin-bottom: 10px;
}

#exhibitionshots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    background-color: rgb(160, 169, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
