
* {
	margin: 0;
	padding: 0;
}
body, th, td {
	background: #FFFFFF url("images/img01.gif") repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

h1 {font-size: 197%;}

ul {list-style: none;}
/* Header */
#header {
	width: 960px;
	height: 92px;
	margin: 0 auto;
}
/* Logo */
#logo h1 {
	padding-top: 30px;
	font-size: 34px;
	font-weight: normal;
}
#logo a {
	text-decoration: none;
	color: #000000;
}
/* Menu */
#menu {
	width: 960px;
	height: 30px; 
	margin: 0 auto;
}
#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}
#menu li {
	display: block;
	float: left;
	margin-right: 1px;
	padding: 0;
	background: white;
}
#menu a {
	display: block;
	float: left;
	background: url("images/img02.gif") no-repeat left top;
	text-decoration: none;
	color: #666666;
}
#menu b {
	display: block;
	float: left;
	height: 23px;     
	padding: 7px 20px 0 20px;
	background: url("images/img03.gif") no-repeat right top;
}
#menu li.active {
	background:  url("images/img04.gif") repeat-x;
}
#menu a:hover {
	color: #1777B1;
}

#menu li.active a {
	background: url("images/img05.gif") no-repeat right top;
	color: #C90404;
}
#menu li.active b {
	background: url("images/img06.gif") no-repeat left top;
}


.textBox {
	font-family: "Calibri";
	font-size: 18pt;
	color: black;
	border: 2px solid #999999;
}

form{
	display: inline-block;
	text-align: center;
}