* {
    padding: 0;
    margin: 0;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}


h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    font-family: 'Parisienne', cursive;
    padding-left: 10px;
}

nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #adadad;
}

nav>ul>li {
    font-family: sans-serif;

}


nav>ul>li>a {
    text-decoration: none;
    color: black;
    width: 140px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: large;
}

nav>ul>li:hover>* {
    background-color: #555555;
    color: white;
}

nav>ul>li:active,
.active>* {
    background-color: #555555;
    color: white;
}

#menu-button {
    display: none;
    padding: 10px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}


@media(max-width: 600px) {
    header {
        background-color: black;
        box-sizing: border-box;
        height: 60px;

        box-shadow: 0 -15px 10px 20px gray;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        padding: 10px;
        color: white;
        font-size: 28px;
    }

    #menu-button {
        display: flex;
    }

    nav {
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
    }

    nav.open {
        display: flex;
    }

    nav>ul {
        flex-direction: column;
    }

    nav>ul>li {
        background-color: black;
        border-top: 1px solid white;
    }

    nav>ul>li>a {
        color: white;
    }

    main {
        padding-top: 40px;
    }

    nav>ul>li:active,
    .active {
        background-color: rebeccapurple;
    }

    #logo {
        display: none;
    }

    #excludelogo {
        width: 100% !important; 
    }
}



#excludelogo {
    flex-direction: column;
    width: 75%;
    height: 100%;
}

#logo {
    background-color: #555555;
    width: 25%;
}

#logo img {
    width: 100%;
    height: inherit;
}

/* index.html */
.keywords{
    background-color: rgb(108, 108, 255);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px 5px; 
    margin-bottom: 4px;
}


h3{
    font-family: sans-serif;
    color:black;
}

#intro {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}


#birefhistory a {
    text-decoration: none;
    color: rgb(199, 0, 0);
}

@media(max-width: 600px) {
    .center{
        padding-top: 60px;
    }
}

@media(max-width: 933px){
    .eventandimg{
        flex-direction: column;
    }

    #ukchampionship{
        flex-direction: column-reverse;
    }

    .eventimage{
        width: 83%;
    }

    #worldchampionshipimage{
        margin: 10px auto 0 auto !important;
    }
    
    #ukchampionshipimage{
        margin: 10px auto 0 auto !important;
    }

    #mastersimage{
        margin: 10px auto 0 auto !important;
    }
}


@media(min-width: 934px){
    .eventimage{
        width: 280%;
    }
}

@media(min-width: 1563px){
    .eventimage{
        width: 100%;
    }
}

.center img{
    width: 100%;
}

#triplecrown{
    display: block;
}

#triplecrownimage img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventandimg{
    display: flex
}

.keywordsandtext{
    display: flex;
    flex-direction: column;
}

.eventimage {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventimage img{
    max-width: 100%;
}

.imagebottomtext {
    text-align: center;
    padding: 10px 20px;
}

#worldchampionshipimage{
    margin-left: 15px;
}

#ukchampionshipimage{
    margin-right: 15px;
}

#mastersimage{
    margin-left: 15px;
}

#triplecrownevents img{
    border-radius: 5px;
}
/* rules.html */

.blank{
    box-sizing: border-box;
    width: 100%;
    height: 20px;
}

@media(max-width: 600px) {
    #rules{
        padding-top: 60px;
    }
}

#tableimage1{
    display: none;
}

#rules {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

#snookertable {
    display: flex;
    flex-direction: row;
}


.description {
    padding-top: 1%;
    padding-bottom: 1%;
}

#snookertableexplanation {
    padding-left: 1%;
}

.subtitle {
    font-size: 140%;
    background-color: darkgray;
    border-radius: 5px;
    color: black;
    text-indent: 1%;
    font-family: 'Times New Roman', Times, serif;
}

#note {
    padding-left: 6%;
    padding-right: 6%;
}

.note {
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Caveat', cursive;
    text-indent: 0;
    font-size: 140%;
    background-color: khaki;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

#basicsnookerrules {
    padding-left: 2%;
    padding-right: 2%;
}

#basicsnookerrules a {
    text-decoration: none;
    color: rgb(199, 0, 0);
}

p {
    font-size: 125%;
    text-indent: 4%;
}

#newd {
    display: none;
}

#newe {
    display: none;
}

#newf {
    display: none;
}

#newg {
    display: none;
}


@media(max-width: 887px){
    #snookertable{
        flex-direction: column;
    }
    #a{
        padding-top: 2%;
    }
    #tableimage{
        display: none;
    }

    #tableimage1{
        display: block;
    }
    
    #tableimage1 img{
        width: 100%;
    }

    #snookertableexplanation {
        padding-left: 0;
    }
    
}

/* d,e,f,g display on the bottom */
@media(max-width: 926px){   
    #d {
        display: none;
    }

    #e {
        display: none;
    }

    #f {
        display: none;
    }

    #g {
        display: none;
    }
    
    #newd, #newe, #newf, #newg{
        display: block;
    }

    #newd{
        padding-top: 2%;
    }
} 


/* e,f,g display on the bottom */
@media(max-width: 1019px){
    #e {
        display: none;
    }

    #f {
        display: none;
    }

    #g {
        display: none;
    }

    #newe, #newf, #newg{
        display: block;
    }

    #newe{
        padding-top: 2%;
    }
} 

/* f,g display on the bottom */
@media(max-width: 1290px){
    #f {
        display: none;
    }

    #g {
        display: none;
    }

    #newf, #newg{
        display: block;
    }

    #newf{
        padding-top: 2%;
    }
}

/* g display on the bottom */
@media(max-width: 1378px){
    #g {
        display: none;
    }
    
    #newg{
        display: block;
        padding-top: 2%;
    }
}

/* masters.html */


/* videos.html */

/* myexperience.html */